body {
    font-family: 'Arial', sans-serif;
    background-color: #143132;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}
p{
    font-size: 50px;
}
footer {
    background-color: #A8925D;
    color: #143132;
    padding: 10px 0;
    
    bottom: 0;      
    width: 100%;     
    text-align: center;
    font-size: 0.9rem;
    z-index: 1000; 
}

header {
    background-color: #A8925D;
    color: #143132;
    padding: 15px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.azkar-section {
    margin-bottom: 30px;
    background-color: #A8925D;
    border: 1px solid #A8925D;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.azkar-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #143231;
    align-items: center; 
    text-align: center; }
.azkar-item:last-child {
    border-bottom: none;
}

.azkar-item p {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.read-btn {
    background-color: #143132;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

.read-btn:hover {
    background-color: #143132;
}

.counter {
    background-color: #143132;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9rem;
    margin-left: 10px;
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    padding: 8px 15px;
}
.read-btn:disabled {
    background-color: #fff; 
    color: black; 
    cursor: not-allowed; 
}
.info-btn {
    background-color: #A8925D;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 1.8rem;
    cursor: pointer;
    margin-left: 1px;
    position: relative;
}

.info-btn:hover::after {
    content: attr(data-tooltip); 
    position: absolute;
    top: -40px;
    right: 50%; 
    transform: translateX(50%);
    background-color: #143132;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}